#canvasContainer canvas{
	position:absolute;
	top:0px;
	left:0px;
	cursor:crosshair;
}
#interface{
	position:fixed;
	right:10px;
	z-index:1003;
	height:100%;
	width:500px;
}

#colorPanel{
	display:block;
	height:700px;
}

canvas#colorPicker{
	display:block;
	border:solid 1px black;
}

#colorHistoryContainer{
display:block;
	height:200px;
	width:200px;
}

#brushColorPreview{
display:block;
	border:solid 1px black;
	width:100px;
	height:70px;
}

.colorBox{
	width:30px;
	height:30px;
	border:solid 1px black;
	margin:2px;
	display:inline-block;
}

.panel{
	border:solid 1px silver;
	margin:5px;
	overflow-y:auto;
}